    <section class="form">
        {% if messages %}
        <ul class="messages">
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="{{url_for('postSave')}}">
            <fieldset>
                <legend>Say anything...</legend>
                <input type="text" name="title" placeholder="Title" required="required" value="{% if post %}{{post.title}}{% endif %}" />
                <textarea name="body" required="required">{% if post %}{{post.body}}{% endif %}</textarea><span>(html will be stripped)</span>
            </fieldset>
            <button type="submit">Save</button>
        </form>
    </section>
