{% set next_post = post.next_post() %}
{% set previous_post = post.previous_post() %}
<nav>
    <p>{{g.post_count}} Posts</p>
    <ul>
        {% if previous_post %}
            <li class="previous"><a href="{{url_for('read', slug = previous_post.slug)}}">Previous ({{previous_post.title}})</a></li>
        {% else %}
            <li class="previous"><del>Previous</del></li>
        {% endif %}
        {% if next_post %}
            <li class="next"><a href="{{url_for('read', slug = next_post.slug)}}">Next ({{next_post.title}})</a></li>
        {% else %}
            <li class="next"><del>Next</del></li>
        {% endif %}
    </ul>
</nav>
