    <article>
        <header>
          <h1><a href="{{url_for('read', slug = post.slug)}}" rel="permalink">{{post.title|default('post not found')}}</a></h1>
          <p>
            <span class="time">Published on {{post.publish_time|datetimeformat}}</span>
          </p>
        </header>
        <section class="body">
            {{post.body}}
        </section>
        {% if post.comments %}
            {% include '_components/comments.html' %}
        {% else %}
          <a name="comments"></a>
        {% endif %}
    </article>
