body {
    background: black;
    color: white;
    font-family: courier,monospace;
    height: 100%;
}

a {
    color: rgb(210, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

img {
    -moz-box-shadow:5px  5px  5px  #321936;
    -webkit-box-shadow:5px  5px  5px  #321936;
    box-shadow:5px  5px  5px  #321936;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

h3, h4, h5 {
    font-size: 14pt;
}

header.title {
    text-align: center;
    color: #645E95;
}

header.title h1 {
    margin: 0pt;
    padding: 0pt;
    font-size: 20pt;
}

header.title address {
    font-size: 9pt;
}

header.title address a {
    color: #645E74;
}

header.title address a:visited {
    color: #645E95;
}

nav {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

nav p {
    margin: 0pt;
    padding: 0pt;
    position: relative;
    top: 2em;
    display: inline;
}

nav ul {
    border: 0pt none;
    padding: 0pt;
}

nav ul li {
    display: inline;
}

nav li.previous {
    float: left;
}

nav li.next {
    float: right;
}

article {
    width: 80%;
    margin: 10%;
    border: 0;
    display: block;
}

article header h1 {
    color: yellow;
}

article header address, article header p {
    margin: 0pt;
    padding: 0pt;
    font-size: 10pt;
}

section.articles:nth-child(1) {
    margin-top: 5%;
}

legend {
    color: yellow;
}

textarea {
    display: block;
    margin-top: 1em;
    height: 25em;
    width: 100%
}

input, textarea {
    color: white;
    background: black;
    border: thin dashed gray;
    font-family: courier,monospace;
    font-size: 12pt;
}

input[name="title"] {
    font-size: 16pt;
    width: 30em;
    color: yellow;
    font-size: 20pt;
    font-weight: bold;
}

input[type="datetime-local"] {
    width: 20em;
    margin-top:0.5em;
}

input[name="author"], input[type="email"] {
    width: 20em;
}

button {
    margin-top: 1em;
}