@import url(http://fonts.googleapis.com/css?family=Cardo);

body {
    background: #97ACBE;
    color: #1A1E21;
    font-family: 'Cardo',courier,monospace,serif;
    height: 100%;
    margin: 0;
}

#p {
    background: white;
    width: 80%;
    position: relative;
    left: 10%;
    
    -moz-box-shadow:5px  5px  20px  #08131C;
    -webkit-box-shadow:5px  5px  20px  #08131C;
    box-shadow:5px  5px  20px  #08131C;
}
a {
    color: #20282F;
}

a:visited {
    color: #1A1E21;
}

img {
    -moz-box-shadow:5px  5px  5px  #A7B3BE;
    -webkit-box-shadow:5px  5px  5px  #A7B3BE;
    box-shadow:5px  5px  5px  #A7B3BE;
}

h1, h2, h3, h4, h5 {
    color: #08131C;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

h3, h4, h5 {
    font-size: 14pt;
}

header.title {
    background: white;
    color: #08131C;
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
}
header.title a, header.title a:visited {
    text-decoration: none;
}
header.title p.post {
    float: right;
    position: relative;
    top: -2.5em;
    text-shadow: 2px 2px 5px #A7B3BE;
}

header.title h1 {
    margin: 0pt;
    padding: 0pt;
    font-size: 20pt;
}

header.title address {
    font-size: 9pt;
}

header.title address a {
    -moz-box-shadow:5px  5px  10px  #A7B3BE;
    -webkit-box-shadow:5px  5px  10px  #A7B3BE;
    box-shadow:5px  5px  10px  #A7B3BE;
}

header.title address a:visited {
    color: #1A1E21;
}

body footer {
    position: relative;
    top: 2em;
    color: #20282F;
}

body footer a, body footer a:visited {
    color: #20282F;
    text-decoration: none;
}

nav {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

nav p {
    margin: 0pt;
    padding: 0pt;
    position: relative;
    top: 2em;
    display: inline;
}

nav ul {
    border: 0pt none;
    padding: 0pt;
}

nav ul li {
    display: inline;
}

nav li.previous {
    float: left;
}

nav li.next {
    float: right;
}

nav li del {
    color: #A7B3Be;
}

article {
    width: 80%;
    margin: 10%;
    border: 0;
    display: block;
}

article header {
    margin-bottom: 1em;
}

article header h1 {
    color: #08131C;
    margin-bottom: 0.25em;
}

article header address, article header p {
    margin: 0pt;
    padding: 0pt;
    font-size: 10pt;
}

section.articles:nth-child(1) {
    margin-top: 5%;
}

section.article header a, section.article header a:visited {
    text-decoration: none;
}

section.comments {
    margin: 0 10%;
}

section.about {
    margin: 10%;
}

span.time, p.asterisk {
    color: gray;
}

.error {
    color: red;
}


/* Forms */
legend {
    color: #08131C;
}

label {
    white-space: nowrap;
    width: 26em;
}

button {
    margin-top: 1em;
    position: relative;
    left: 45%;
    font-size: 30pt;
}

textarea {
    display: block;
    margin-top: 1em;
    height: 25em;
    width: 100%
}

input, textarea {
    color: #1A1E21;
    background: white;
    border: thin dashed gray;
    font-family: courier,monospace;
    font-size: 12pt;
}

input[name="title"] {
    font-size: 16pt;
    width: 30em;
    color: #08131C;
    font-size: 20pt;
    font-weight: bold;
}

input[type="datetime-local"] {
    width: 20em;
    margin-top:0.5em;
}

input[name="author"], input[type="email"] {
    width: 20em;
}


pre {
    white-space: pre-wrap;
}

code {
    display: block;
    width: 90%;
    padding: 1em 0 1em 1em;
    background: lightgrey;
    color: black;
    border: dotted 1px #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 2em;
}
