<!DOCTYPE html>
<html>
  <head>
    <title>About Blogizzle</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div id="p">
    {% include '_components/header.html' %}
    <section class="about">
        <h1>About Blogizzle</h1>
        <p>
            Blogizzle is an open blogging experiment. You can post whatever you want. No questions asked. Blogizzle was created by <a href="http://www.jonathansuchland.com/">Jonathan Suchland</a>.
        </p>
        <h2>What information is collected about me?</h2>
        <p>
            We save your IP address. We have no interest in reselling any information you post.
        </p>
    </section>
    <section class="comments">
        <div id="disqus_thread"></div>
    </section>
    {% include '_components/footer.html' %}
    </div>
    <script type="text/javascript">
        var disqus_shortname = 'blogizzle';
        var disqus_identifier = "about";
        {% if config.DEBUG %}
            var disqus_developer = 1;
        {% endif %}
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% include '_components/google_analytics.html' %}
  </body>
</html>
