<!DOCTYPE html>
<html>
  <head>
    <title>Open blog - Blogizzle</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="alternate" type="application/rss+xml" href="{{url_for('rss')}}" />
  </head>
  <body>
    <div id="p">
    {% include '_components/header.html' %}
    <section class="articles">
        {% set show_comment_link=True %}
            {% include '_components/post.html' %}
    </section>
    {% include '_components/pagination.html' %}
    {% include '_components/footer.html' %}
    </div>
    <script type="text/javascript">
        var disqus_shortname = 'blogizzle';
        {% if config.DEBUG %}
            var disqus_developer = 1;
        {% endif %}
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% include '_components/google_analytics.html' %}
    {% include '_components/twitter_widget.html' %}
    {% include '_components/facebook_connect.html' %}
    </body>
</html>
