<!DOCTYPE html>
<html>
  <head>
    <title>{{post.title}} ({{post.publish_time|datetimeformat}})</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="canonical" type="text/html" href="http://onomatizzle.com" />
  </head>
  <body>
    {% include '_components/header.html' %}
    <section class="article">
        {% include '_components/post.html' %}
    </section>
    <section id="postComment">
      <h5>Post a comment</h5>
      {% include '_components/forms/comment.html' %}
    </section>
    {% include '_components/footer.html' %}
  </body>
</html>